@model FoJiao.Models.Grades

@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    ViewBag.Title = "难度等级编辑";
}

@section Head{
    <link rel="stylesheet" type="text/css" href="/BackSet/src/other/simple-Uploader/simple-uploader.css">
    <script src="~/BackSet/src/other/simple-Uploader/simple-uploader.js"></script>
    <script src="/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="/ckfinder/ckfinder.js" type="text/javascript"></script>
}

<form action="/Admin/grade/SaveEdit" id="form1" method="post">
    <div class="pathTip">
        <a class="pathTipItem" href="/admin/grade/list">难度等级列表</a>
        @{
            if (ViewBag.IsCreate)
            {
                <a class="pathTipItem" href="/Admin/grade/List?searchStr=@Model.Title">@Model.Title</a>
                <a class="pathTipItem">内容编辑</a>
            }
            else
            {
                <a class="pathTipItem">新增</a>
            }
        }
    </div>

    <div class="contentGroup">
        <input type="hidden" name="Id" value="@(ViewBag.IsCreate?Model.Id.ToString():"")" />
        <input type="hidden" name="IsCreate" value="@(ViewBag.IsCreate?"true":"false")" />
        <input type="hidden" name="CreateTime" value="@(ViewBag.IsCreate?Model.CreateTime.ToString():"")" />
        <div class="contentGroupTitle">
            基本信息
        </div>
        <!---->
        <div class="contentUnit">
            <div class="title">难度名称</div>
            <div class="content">
                <textarea id="title" name="Title" type="text" class="inputText">@Model.Title</textarea>
            </div>
            <div class="tip"></div>
        </div>
    </div>

    <div class="inputSet">
        <a class="inputButton" onclick="doCheck();" leftIcon style="background-image:url(/BackSet/src/media/icon_disk.png)">提交</a>
    </div>
    <script>
    //点提交调用此函数
    function doCheck() {
        var titleNa = checkInput("title");
        if (titleNa) {
            var urlAddress="/Grade/CheckGrade"
            var dataJson = {
                gradeName: document.getElementById("title").value,
                gradeId: @(ViewBag.IsCreate?Model.Id.ToString():"0")

            }
                    var xmlhttp = new XMLHttpRequest();
                    xmlhttp.onreadystatechange = function () {
                        if (xmlhttp.readyState == 4) {
                            if (xmlhttp.status == 200) {
                                var result = eval("(" + xmlhttp.responseText + ")");

                                //alert(xmlhttp.response);
                                if (result == "Success") {
                                    document.getElementById("form1").submit();
                                }
                                else {
                                    alert("难度等级已存在，请重新编辑！");
                                }
                            } else {
                                alert('连接服务器失败，请稍后再试！');
                            }
                        }
                    }
                    xmlhttp.open("POST", urlAddress, true);
            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlhttp.send(JSON.stringify(dataJson));
        }
        else alert("请确认信息完整后提交！");
            }
            //判断输入框值是否空
            function checkInput(idd) {
                if (document.getElementById(idd).value != "") return true;
                else return false;
            }
    </script>
</form>