@model IEnumerable<FoJiao.Models.Grades>

@{
    ViewBag.Title = "难度等级列表";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="pathTip">
    @{
        if (ViewBag.searchStr != null)
        {
            <a class="pathTipItem" href=@Url.Action("List")>难度等级列表</a>
            <a class="pathTipItem">@ViewBag.searchStr</a>
        }
        else
        {
            <a class="pathTipItem">难度等级列表</a>
        }
    }
</div>

<div class="inputSet">
    <a class="inputButton" href=@Url.Action("Create")  leftIcon style="background-image:url(/BackSet/src/media/icon_plus.png)">添加</a>
</div>

<div class="contentlist">
    <table>
        <thead>
            <tr>
                <td width="80">ID</td>
                <td width="120">创建时间</td>
                <td width="120">更新时间</td>
                <td>难度名称</td>
                <td width="60">内容编辑</td>
                <td width="60">删除</td>
            </tr>
        </thead>
        <tbody>
           @{
               if (Model != null)
               {
                   foreach (var item in Model)
                   {
                    <tr>
                        <td>@item.Id</td>
                        <td> @item.CreateTime</td>
                        <td> @item.UpdateTime</td>
                        <td> @item.Title</td>
                        <td><a class="edit" href="/Admin/grade/Edit/@item.Id"></a></td>
                        <td><a class="delete" href="@Url.Action("Delete", new { id=item.Id,returnURL=Request.Url.ToString()})"></a></td>
                    </tr>
                   }
               }
        }
        
        </tbody>
    </table>
</div>